body 
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}
header ul li 
{
	display: inline-block; /*romper modelo caja y poner en bloque*/
	

}
header ul li button
{
	width: 89px; /*el ancho de la caja se debe de poner el tamaño de la caja mas grande para que todas sean del mismo tamaño*/
}